.dock {
    position: fixed;
    left: 0;
    display: flex;
    transition: width 150ms;
}

.page {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 4.5rem;
    margin-left: 5rem;
    padding: 1.5rem;
    transition: margin 150ms, padding 150ms;
}

#chatPage {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 1rem;
    margin-top: 4.5rem;
    margin-left: 5rem;
    transition: margin 150ms, padding 150ms;
}

@media screen and (max-width: 719px) {
    .dock {
        bottom: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 0.75rem;
        padding: 0.75rem 2rem;
        width: 100svw;
        height: fit-content;
    }

    .page {
        margin-left: 0;
        padding: 1rem;
        padding-bottom: 6rem;
        grid-template-columns: repeat(1, 1fr);
    }

    #chatPage {
        padding: 0;
        padding-bottom: 6rem;
        grid-template-columns: 64px 1fr;
        max-height: calc(100svh - 10.5rem);
    }
}

@media screen and (min-width: 720px) {
    .dock {
        top: 0;
        flex-direction: column;
        gap: 0.75rem;
        padding: 2rem 0.75rem;
        width: fit-content;
        height: 100svh;
    }

    .page {
        margin-left: 5rem;
        padding: 1.5rem;
    }

    #chatPage {
        padding: 0;
        padding-left: 5rem;
        grid-template-columns: 200px 1fr;
        max-height: calc(100svh - 4.5rem);
    }
}

@media screen and (min-width: 960px) {
    .page {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .page {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1920px) {
    .page {
        grid-template-columns: repeat(4, 1fr);
    }
}
